

   table.profile {
                width: 12%; /* Ширина таблицы */
                color: #ffff00; /* Цвет текста */

            }
            td.profile1{
                padding: 5px; /* Поля вокруг текста */
            }
            th.profile2{
                padding: 5px; /* Поля вокруг текста */
            }
            div.additonal{
                padding:0px; 
                background-color: white;
            }

        
            .button1
            {
                width: 150px;
                height: 30px;
                right: 740px;
                top:200px;
                position: absolute;
                
            }

           
            
            .inputLayer1
            {
                width: 100px;
                height: 180px;
                right: 980px;
                top:20px;
                position: absolute;
            
            }
            
           
            
            .layers{
                padding-bottom: 4px;
                color: yellow;
            }

           
            
            .loginlist{
              
                left: 20%;
                top:40%;
                position: absolute;  
                
            }
            
              .layer {
                overflow: scroll; /* Добавляем полосы прокрутки */
                width: 720px; /* Ширина блока */
                height: 350px; /* Высота блока */
                padding: 5px; /* Поля вокруг текста */
                border: solid 1px black; /* Параметры рамки */
            } 
            
             .buttonDelete
            {
                width: 200px;
                height: 30px;
                left: 60%;
                top:40%;
                position: absolute;

            }
            
             .buttonBack
            {
                width: 200px;
                height: 30px;
                left: 60%;
                top:50%;
                position: absolute;

            }
            
             .inputFormDelete{
                width: 140px;
                height: 80px;
                left: 63%;
                top:45%;
                position: absolute;  
            }
            
             .inputLayerDelete
            {
                font-size: 18px;
                width: 100px;
                height: 110px;
                left: 60%;
                top:45%;
                position: absolute;
           
            }
            
             .inputLayerTable
            {
                font-size: 20px;
                width: 100px;
                height: 110px;
                left: 20%;
                top:37%;
                position: absolute;
           
            }