
table.profile {
    width: 12%; /* Ширина таблицы */
    color: #ffff00; /* Цвет текста */

}
td.profile1{
    padding: 5px; /* Поля вокруг текста */
}


.timeTableHead{
    background: #FBF468;
    text-align: center; 
    color: black;
}


th.profile2{
    padding: 10px; /* Поля вокруг текста */
}
div.additonal{
    padding:0px; 
    background-color: white;
}
.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 900px; /* Ширина блока */
    height: 480px; /* Высота блока */

    margin-top: 260px;
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
} 

.button1
{
    width: 290px;
    height: 30px;
    right: 800px;
    top:230px;
    position: absolute;

}

.button2
{
    width: 250px;
    height: 30px;
    right: 397px;
    top: 230px;
    position: absolute;

}


.button3
{
    width: 210px;
    height: 30px;
    right: 40px;
    top: 20px;
    position: absolute;

}


.button4
{
    width: 210px;
    height: 30px;
    right: 40px;
    top:140px;
    position: absolute;

}

.button5
{
    width: 210px;
    height: 30px;
    right: 40px;
    top:182px;
    position: absolute;

}

.inputLayer1
{
    font-size: 17px;
    width: 100px;
    height: 180px;
    right: 1170px;
    top:20px;
    position: absolute;

}

.inputLayer2
{
    font-size: 17px;
    width: 100px;
    height: 110px;
    right: 870px;
    top:88px;
    position: absolute;

}

.inputLayer4
{
    font-size: 17px;
    width: 100px;
    height: 100px;
    right: 870px;
    top:23px;
    position: absolute;

}

.inputLayer3
{
    font-size: 17px;
    width: 100px;
    height: 180px;
    right: 568px;
    top:20px;
    position: absolute;

}

.inputLayerDelete
{
    font-size: 17px;
    width: 100px;
    height: 80px;
    right: 147px;
    top:60px;
    position: absolute;

}


.layers{
    padding-bottom: 5px;
    color: yellow;
}

.inputForm1{

    width: 230px;
    height: 180px;
    right: 970px;
    top:20px;
    position: absolute;
    font-size: 16px;


}


.inputForm2{
    width: 230px;
    height: 100px;
    right: 670px;
    top:85px;
    position: absolute;
     font-size: 16px;
}

.inputForm3{
    width: 230px;
    height: 180px;
    right: 360px;
    top:20px;
    position: absolute;
     font-size: 16px;
}


.inputForm4{
    width: 230px;
    height: 180px;
    right: 670px;
    top:20px;
    position: absolute;
    font-size: 16px;
}


.inputFormDelete{
    width: 150px;
    height: 80px;
    right: 40px;
    top:60px;
    position: absolute;
    font-size: 16px;

}

select.choose{
    width:120px;
    height: 38px;
}
